{% extends 'base.html.twig' %}

{% block title %}Edit Lignecommande{% endblock %}

{% block body %}
    <h1>Edit Lignecommande</h1>

    {{ include('lignecommande/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('acceuil') }}">Annuler</a>

    {{ include('lignecommande/_delete_form.html.twig') }}
{% endblock %}